/* colors.css */

/* Define color variables */
:root {
    --color-light-gray: #f7f7f7;
    --color-dark-gray: #333;
    --color-medium-gray: #555;
    --color-brown: #47382d;
    --color-cream: #fdf5f3;
    --color-dark: #444;
    --color-black: #000000;
    --color-teal: #51c79d;
    --color-light-grey:rgba(51, 51, 51, 0.15);
    --color-dark: #000;
    --color-light-gray-text: #9f9f9f;
    --color-white: #ffffff;
    --color-border: #e8e8e8;
}
