* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}
footer {
    background-color: white;
    padding: 50px 100px;
    border-top: 1px solid #e8e8e8;
    font-family: "Poppins", sans-serif;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.footer-section {
    flex: 1;
}

.footer-section h3 {
    color: #000;
    font-size: 24px;
    margin-bottom: 25px;
    font-weight: 700;
}

.footer-section p {
    color: #9f9f9f;
    line-height: 1.8;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section a {
    color: #9f9f9f;
}

.footer-section a:hover {
    color: var(--color-brown);
}

.footer-section ul li {
    margin-bottom: 15px;
}

.footer-section ul li a {
    color: #9f9f9f;
    text-decoration: none;
    font-size: 16px;
    display: flex;
    align-items: center;
}

.footer-section ul li a:hover {
    color: var(--color-brown);
}

.footer-section ul li a i {
    margin-right: 10px;
    font-size: 18px;
}

.social-media i {
    color: #9f9f9f;
    font-size: 20px;
}

.social-media i:hover {
    color: var(--color-brown);
}

.social-media ul {
    display: flex;
    flex-direction: column;
}

.social-media ul li {
    margin-bottom: 10px;
}

.social-media ul li a {
    font-size: 16px;
    color: #9f9f9f;
}

.social-media ul li a:hover {
    color: var(--color-brown);
}

.copyright {
    text-align: left;
    padding: 0 0;
    color: #9f9f9f;
}